[title] {
    background-color: azure;
}

[title="About me"] {
    background-color: blueviolet;
}

[title~="Container"] {
    background-color: bisque;
}

[title*=" tainer"] {
    background-color: hotpink;
}

[title^="More"] {
    background-color: blueviolet;
}

[title$="skills"] {
    background-color: slateblue;
}

[title]:first-child {
    background-color: lightgreen;
}

nav > ul > li > a[title] {
    background-color: blue;
}