body {
    background-color: brown;
}

div {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

#predefined-colors {
    background-color: blanchedalmond;
}
#hexadecimal-colors {
    background-color: #94FFAB;

}
#short-hexadecimal-colors {
    background-color: #C394FF;
}

#rgb-function {
    background-color: rgb(115, 90, 192);
}
#rgba-function {
    background-color: rgba(90, 189, 255, 0.7);
}